<h1>Лабораторна робота №4<h1>

In [3]:
from datetime import time as dt_time
from IPython.display import display
import pandas as pd
import numpy as np
import time
data = pd.read_csv("1.txt", sep=";", low_memory=False, na_values='?')
data = data.dropna()

display(data)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [4]:
types = [("Date", "U10"), ("Time",  "U8"), ("Global_active_power",  "float64"), ("Global_reactive_power",  "float64"), ("Voltage",  "float64"), ("Global_intensity",  "float64"), ("Sub_metering_1",  "float64"), ("Sub_metering_2",  "float64"), ("Sub_metering_3",  "float64")]
df = np.genfromtxt("1.txt", missing_values=["?", np.nan],delimiter=';', dtype=types, encoding="UTF=8",  names=True)
display(df)

array([('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [5]:
df = df[~np.isnan(df["Sub_metering_1"])]
display(df)

array([('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [6]:
from datetime import datetime
date_formated = np.array([datetime.strptime(date, "%d/%m/%Y") for date in df["Date"]])
df['Date'] = date_formated
display(df)

array([('2006-12-16', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('2006-12-16', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('2006-12-16', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ...,
       ('2010-11-26', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('2010-11-26', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('2010-11-26', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

In [7]:
def lab_pd(data):
    
    data['Date'] = pd.to_datetime(data['Date'], dayfirst=True)
    data['Time'] = pd.to_datetime(data['Time'], format='%H:%M:%S').dt.time
    data = data.dropna()
    return data

display(lab_pd(data))

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

<h2>1. Обрати всі домогосподарства, у яких загальна активна споживана
потужність перевищує 5 кВт.<h2>

In [8]:


def power_pd(data):
    pow = data[data['Global_active_power'] > 5]
    return pow

def power_np(df):
    pow = df[df['Global_active_power'] > 5.0] 
    return pow



start_time = time.time()
power_pd(data)
end_time_pd = time.time() - start_time
display(power_pd(data))
start_time = time.time()
power_np(df)
end_time_np = time.time() - start_time
display(power_np(df))
print('Pandas:',end_time_pd)
print('Nampy:',end_time_np)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,2010-11-22,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

array([('2006-12-16', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0.,  1., 16.),
       ('2006-12-16', '17:26:00', 5.374, 0.498, 233.29, 23. , 0.,  2., 17.),
       ('2006-12-16', '17:27:00', 5.388, 0.502, 233.74, 23. , 0.,  1., 17.),
       ...,
       ('2010-11-24', '07:50:00', 5.172, 0.05 , 235.18, 22. , 0., 38., 17.),
       ('2010-11-24', '07:51:00', 5.75 , 0.   , 234.4 , 24.6, 0., 39., 17.),
       ('2010-11-25', '07:21:00', 5.074, 0.24 , 238.55, 21.4, 1.,  2., 18.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Pandas: 0.008004188537597656
Nampy: 0.01999950408935547

<h2>2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.<h2>

In [9]:

def voltage_pd(data):
    vol = data[data['Voltage'] > 235]
    return vol
def voltage_np(df):
    vol = df[df["Voltage"] > 235]
    return vol

start_time = time.time()
voltage_pd(data)
end_time_pd = time.time() - start_time
display(voltage_pd(data))
start_time = time.time()
voltage_np(df)
end_time_np = time.time() - start_time
display(voltage_np(df))
print('Pandas:',end_time_pd)
print('Nampy:',end_time_np)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

array([('2006-12-16', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.),
       ('2006-12-16', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.),
       ('2006-12-16', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.),
       ...,
       ('2010-11-26', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('2010-11-26', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('2010-11-26', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Pandas: 0.10049939155578613
Nampy: 0.16650032997131348

<h2>3. Обрати всі домогосподарства, у яких сила струму лежить в межах
19-20 А, для них виявити ті, у яких пральна машина та холодильних
споживають більше, ніж бойлер та кондиціонер.<h2>

In [10]:

def hol_pd(data):
    holod = data[(data['Global_intensity'] >= 19) & (data['Global_intensity'] <= 20)]

    result = holod[(holod['Sub_metering_2'] > holod['Sub_metering_3'])]
  
    return result

def hol_np(df):
    holod = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20)]
    result_np = holod[(holod['Sub_metering_2'] > holod['Sub_metering_3'])]  
    return result_np

start_time = time.time()
hol_pd(data)
end_time_pd = time.time() - start_time
display(hol_pd(data))
start_time = time.time()
hol_np(df)
end_time_np = time.time() - start_time
display(hol_np(df))
print('Pandas:',end_time_pd)
print('Nampy:',end_time_np)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

array([('2006-12-16', '18:09:00', 4.464, 0.136, 234.66, 19. , 0., 37., 16.),
       ('2006-12-17', '01:04:00', 4.582, 0.258, 238.08, 19.6, 0., 13.,  0.),
       ('2006-12-17', '01:08:00', 4.618, 0.104, 239.61, 19.6, 0., 27.,  0.),
       ...,
       ('2010-11-24', '07:55:00', 4.602, 0.   , 237.08, 19.4, 0., 40., 17.),
       ('2010-11-24', '07:56:00', 4.536, 0.   , 237.03, 19. , 0., 39., 17.),
       ('2010-11-24', '07:57:00', 4.626, 0.   , 236.78, 19.4, 0., 39., 17.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

Pandas: 0.013000249862670898
Nampy: 0.02599954605102539

<h2>4. Обрати випадковим чином 500000 домогосподарств (без повторів
елементів вибірки), для них обчислити середні величини усіх 3-х
груп споживання електричної енергії, а також<h2>

In [11]:
def sered_pd(data):
    random_sample = data.sample(n=500000, replace=False)
    avg_sub_metering_1 = random_sample['Sub_metering_1'].mean()
    avg_sub_metering_2 = random_sample['Sub_metering_2'].mean()
    avg_sub_metering_3 = random_sample['Sub_metering_3'].mean()
    middle = (avg_sub_metering_3+avg_sub_metering_2+avg_sub_metering_1)/3
    

    print("Середнє значення Sub_metering_1:", avg_sub_metering_1)
    print("Середнє значення Sub_metering_2:", avg_sub_metering_2)
    print("Середнє значення Sub_metering_3:", avg_sub_metering_3)
    print(middle)
    
def sered_np(df):
    random_indices = np.random.choice(df.shape[0], size=500000, replace=False)
    random_sample = df[random_indices]
    avg_sub_metering_1 = np.mean(random_sample['Sub_metering_1'])
    avg_sub_metering_2 = np.mean(random_sample['Sub_metering_2'])
    avg_sub_metering_3 = np.mean(random_sample['Sub_metering_3'])

    print("Середнє значення Sub_metering_1:", avg_sub_metering_1)
    print("Середнє значення Sub_metering_2:", avg_sub_metering_2)
    print("Середнє значення Sub_metering_3:", avg_sub_metering_3)

start_time = time.time()
sered_pd(data)
end_time_pd = time.time() - start_time
start_time = time.time()
sered_np(df)
end_time_np = time.time() - start_time
print('Pandas:',end_time_pd)
print('Nampy:',end_time_np)

Середнє значення Sub_metering_1: 1.119258
Середнє значення Sub_metering_2: 1.29837
Середнє значення Sub_metering_3: 6.46665
2.961426
Середнє значення Sub_metering_1: 1.124688
Середнє значення Sub_metering_2: 1.278822
Середнє значення Sub_metering_3: 6.442988
Pandas: 0.23900079727172852
Nampy: 0.22500038146972656

<h2>5. Обрати ті домогосподарства, які після 18-00 споживають понад 6
кВт за хвилину в середньому, серед відібраних визначити ті, у яких
основне споживання електроенергії у вказаний проміжок часу
припадає на пральну машину, сушарку, холодильник та освітлення
(група 2 є найбільшою), а потім обрати кожен третій результат із
першої половини та кожен четвертий результат із другої половини.<h2>

In [12]:


def end_pd(data):
    end = data[(data['Time'].apply(lambda x: x > dt_time(hour=18))) & (data['Global_active_power'] > 6.0)]
    mor = end[(end['Sub_metering_2'] > end['Sub_metering_1']) &
                              (end['Sub_metering_2'] > end['Sub_metering_3'])]
   
    first_end = mor.head(len(mor) // 2)
    second_end= mor.tail(len(mor) // 2)
    result_df = pd.concat([first_end.iloc[::3, :], second_end.iloc[::4, :]])
    return result_df



import pandas as pd
import numpy as np
import datetime as dt

def end_np(df):
    
    target_time = dt.datetime.strptime('18:00:00', '%H:%M:%S').time()
    
    df_time = np.array([datetime.strptime(tm, '%H:%M:%S').time() for tm in df["Time"]])
    
    filtered_np = df[(df_time > target_time) & (df['Global_active_power'] > 6.0)]
    
    final_np = filtered_np[(filtered_np['Sub_metering_2'] > filtered_np['Sub_metering_1']) & (filtered_np['Sub_metering_2'] > filtered_np['Sub_metering_3'])]
   
    first_half = final_np[:len(final_np) // 2]
    second_half = final_np[len(final_np) // 2:]
    
    result_np = np.concatenate([first_half[::3], second_half[::4]])
    
    return result_np


start_time = time.time()
display(end_pd(data))
end_time_pd = time.time() - start_time
start_time = time.time()
display(end_np(df))
end_time_pd = time.time() - start_time
print('Pandas:',end_time_pd)
print('Nampy:',end_time_np)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
2066468,2010-11-20,18:32:00,6.710,0.376,229.28,29.6,25.0,35.0,17.0
2066472,2010-11-20,18:36:00,6.574,0.382,229.87,29.0,19.0,35.0,16.0
2066476,2010-11-20,18:40:00,6.416,0.350,229.72,28.2,16.0,35.0,16.0
2066480,2010-11-20,18:44:00,6.374,0.392,228.52,28.2,15.0,36.0,16.0
2066488,2010-11-20,18:52:00,6.364,0.126,229.38,28.2,17.0,34.0,16.0

array([('2006-12-16', '18:05:00',  6.052, 0.192, 232.93, 26.2,  0., 37., 17.),
       ('2006-12-16', '18:08:00',  6.308, 0.116, 232.25, 27. ,  0., 36., 17.),
       ('2006-12-28', '20:58:00',  6.386, 0.374, 236.63, 27. ,  1., 36., 17.),
       ('2006-12-28', '21:02:00',  8.088, 0.262, 235.5 , 34.4,  1., 72., 17.),
       ('2006-12-28', '21:05:00',  7.23 , 0.152, 235.22, 30.6,  1., 73., 17.),
       ('2006-12-28', '21:08:00',  7.352, 0.   , 235.45, 31.2,  1., 73., 17.),
       ('2006-12-28', '21:11:00',  9.048, 0.   , 231.48, 39. , 34., 71., 16.),
       ('2006-12-28', '21:14:00',  9.118, 0.108, 231.18, 39.4, 36., 72., 16.),
       ('2006-12-28', '21:17:00',  7.04 , 0.13 , 233.27, 30.2, 37., 38., 17.),
       ('2006-12-29', '21:16:00',  6.146, 0.116, 230.53, 26.6,  0., 70.,  0.),
       ('2006-12-29', '21:19:00',  6.184, 0.138, 231.57, 26.6,  0., 70.,  0.),
       ('2006-12-29', '21:22:00',  6.214, 0.12 , 230.53, 26.8,  0., 70.,  0.),
       ('2006-12-29', '21:25:00',  6.086, 0.   , 229.04, 26.6,  0., 69.,  0.),
       ('2006-12-29', '21:29:00',  6.66 , 0.   , 229.  , 29. ,  0., 69., 17.),
       ('2006-12-29', '22:28:00',  6.3  , 0.294, 236.08, 26.8,  0., 65., 17.),
       ('2006-12-29', '22:31:00',  6.426, 0.282, 234.8 , 27.4,  0., 73., 17.),
       ('2006-12-29', '22:34:00',  6.238, 0.268, 235.12, 26.4,  0., 73., 17.),
       ('2007-01-07', '18:03:00',  6.458, 0.   , 230.85, 27.8,  0., 69., 16.),
       ('2007-01-07', '18:06:00',  6.676, 0.   , 230.88, 28.8,  0., 69., 16.),
       ('2007-01-07', '18:09:00',  6.326, 0.15 , 231.77, 27.6,  0., 62., 17.),
       ('2007-01-07', '18:17:00',  7.774, 0.534, 230.49, 33.8,  0., 37., 16.),
       ('2007-01-07', '21:21:00',  6.014, 0.332, 235.53, 25.8, 28., 36., 17.),
       ('2007-01-09', '20:51:00',  7.996, 0.1  , 231.55, 34.4,  0., 70., 16.),
       ('2007-01-09', '20:54:00',  7.732, 0.098, 231.55, 33.4,  0., 70., 17.),
       ('2007-01-09', '20:57:00',  8.67 , 0.114, 232.89, 37.2,  0., 71., 16.),
       ('2007-01-09', '21:00:00',  7.54 , 0.152, 233.88, 32.2,  0., 72., 16.),
       ('2007-01-09', '21:03:00',  6.726, 0.154, 234.28, 29. ,  0., 64., 17.),
       ('2007-01-20', '19:17:00',  6.21 , 0.432, 228.85, 27.2,  0., 35., 16.),
       ('2007-01-20', '19:20:00',  7.202, 0.44 , 228.37, 32. ,  0., 35., 16.),
       ('2007-01-20', '19:23:00',  7.602, 0.374, 228.07, 33.4,  0., 21., 16.),
       ('2007-01-20', '19:26:00',  6.198, 0.384, 232.22, 26.6,  0., 36., 16.),
       ('2007-01-20', '19:35:00',  7.332, 0.116, 230.56, 32.2,  0., 26., 17.),
       ('2007-01-21', '19:24:00',  7.48 , 0.18 , 225.52, 33.2,  0., 67., 15.),
       ('2007-01-21', '19:27:00',  7.552, 0.25 , 225.17, 33.4,  0., 66., 16.),
       ('2007-01-21', '19:30:00',  7.532, 0.416, 226.97, 33.4,  0., 68., 16.),
       ('2007-01-21', '19:33:00',  7.374, 0.326, 226.03, 33. ,  1., 59., 16.),
       ('2007-01-22', '20:23:00',  7.502, 0.19 , 231.81, 32.4,  0., 65., 16.),
       ('2007-01-22', '20:26:00',  7.722, 0.22 , 233.22, 33. ,  0., 71., 17.),
       ('2007-01-22', '21:06:00',  6.184, 0.246, 234.93, 26.4,  0., 69.,  0.),
       ('2007-01-27', '23:56:00',  6.142, 0.   , 239.53, 25.6,  0., 37., 18.),
       ('2007-02-03', '18:52:00',  7.198, 0.494, 228.45, 31.8, 26., 34., 16.),
       ('2007-02-03', '19:09:00',  6.264, 0.482, 229.95, 27.6, 14., 34., 16.),
       ('2007-02-15', '19:35:00',  6.926, 0.6  , 233.35, 29.8,  0., 36., 17.),
       ('2007-02-15', '19:39:00',  6.634, 0.472, 234.05, 28.4,  0., 36., 17.),
       ('2007-02-15', '19:51:00',  6.408, 0.46 , 234.07, 27.6,  0., 36., 17.),
       ('2007-02-19', '19:52:00',  6.04 , 0.28 , 230.41, 26.4,  0., 34., 16.),
       ('2007-02-20', '20:28:00',  8.374, 0.082, 234.12, 35.8,  0., 72., 17.),
       ('2007-02-20', '20:31:00',  7.204, 0.09 , 231.78, 31. ,  0., 71., 16.),
       ('2007-02-20', '20:34:00',  6.91 , 0.146, 230.68, 30. ,  0., 71., 16.),
       ('2007-02-20', '20:37:00',  7.13 , 0.11 , 231.74, 30.8,  0., 72., 16.),
       ('2007-02-21', '19:45:00',  6.14 , 0.304, 232.72, 26.6,  0., 26.,  0.),
       ('2007-02-22', '19:32:00',  6.068, 0.2  , 231.3 , 26.2,  0., 35., 16.),
       ('2007-02-22', '19:35:00',  6.02 , 0.078, 233.27, 25.8,  0., 36., 17.),
       ('2007-02-22', '21:05:00',  9.16 , 0.   , 226.94, 40.2, 35., 68., 16.),
       ('2007-02-22', '21:08:00',  9.374, 0.   , 226.47, 41.4, 35., 68., 15.),
       ('2007-02-22', '21:11:00',  9.248, 0.   , 224.48, 41.2, 34., 66., 15.),
       ('2007-02-22', '21:14:00',  9.338, 0.   , 223.49, 41.8, 33., 66., 15.),
       ('2007-02-22', '21:35:00',  6.67 , 0.2  , 230.71, 28.8,  1., 39., 16.),
       ('2007-02-22', '21:38:00',  6.55 , 0.172, 229.38, 28.4,  2., 34., 16.),
       ('2007-02-22', '21:45:00',  6.288, 0.114, 230.22, 27.2,  1., 30., 16.),
       ('2007-03-04', '19:31:00',  8.862, 0.45 , 231.32, 38.6, 36., 40., 16.),
       ('2007-03-04', '19:34:00', 10.67 , 0.516, 230.2 , 46.4, 37., 69., 16.),
       ('2007-03-04', '19:37:00',  6.99 , 0.38 , 232.51, 30.2,  4., 71., 16.),
       ('2007-03-04', '19:40:00',  6.504, 0.256, 234.  , 27.8,  0., 71., 17.),
       ('2007-03-04', '19:43:00',  6.346, 0.138, 232.78, 27.2,  1., 71., 17.),
       ('2007-03-04', '20:19:00',  6.092, 0.248, 232.57, 26.2,  0., 35., 17.),
       ('2007-03-04', '21:30:00',  6.89 , 0.   , 233.03, 29.4,  0., 70., 17.),
       ('2007-03-04', '21:33:00',  6.75 , 0.   , 233.09, 28.8,  0., 71., 17.),
       ('2007-03-04', '21:38:00',  6.12 , 0.   , 234.38, 26.6,  0., 57., 17.),
       ('2007-03-05', '20:56:00',  6.544, 0.47 , 233.11, 28.2,  0., 30.,  0.),
       ('2007-03-08', '20:29:00',  6.354, 0.102, 235.  , 27. ,  0., 36., 18.),
       ('2007-03-20', '21:32:00',  6.262, 0.162, 234.59, 26.6,  1., 36., 17.),
       ('2007-03-20', '21:35:00',  6.11 , 0.242, 234.55, 26. ,  1., 35., 16.),
       ('2007-03-20', '21:38:00',  6.052, 0.26 , 233.59, 25.8,  1., 35., 17.),
       ('2007-03-20', '21:44:00',  6.134, 0.374, 230.76, 26.6,  1., 36., 17.),
       ('2007-03-20', '21:47:00',  6.026, 0.246, 232.11, 26. ,  1., 36., 17.),
       ('2007-03-24', '18:52:00',  7.186, 0.178, 232.02, 31.4,  0., 23., 16.),
       ('2007-03-24', '18:59:00',  6.978, 0.286, 231.41, 30.6,  0., 34., 17.),
       ('2007-03-31', '20:01:00',  6.142, 0.528, 236.21, 26. ,  0., 36., 17.),
       ('2007-03-31', '20:05:00',  6.21 , 0.526, 235.8 , 26.4,  0., 37., 17.),
       ('2007-04-01', '18:44:00',  6.428, 0.266, 232.81, 27.6,  1., 72., 16.),
       ('2007-04-01', '18:47:00',  6.332, 0.276, 232.45, 27.2,  0., 72., 17.),
       ('2007-04-01', '18:50:00',  6.274, 0.26 , 233.03, 26.8,  1., 71., 16.),
       ('2007-04-01', '21:56:00',  7.32 , 0.298, 234.4 , 31.4,  1., 63., 17.),
       ('2007-04-01', '21:59:00',  8.134, 0.278, 232.16, 35. ,  2., 70., 16.),
       ('2007-04-01', '22:02:00',  6.19 , 0.302, 233.54, 26.4,  1., 36., 16.),
       ('2007-04-01', '22:10:00',  6.008, 0.426, 234.16, 25.6,  1., 36., 17.),
       ('2007-04-02', '22:01:00',  6.014, 0.   , 232.69, 25.8,  1., 36., 17.),
       ('2007-04-03', '19:26:00',  7.874, 0.356, 229.09, 34.4, 36., 37., 16.),
       ('2007-04-03', '19:30:00',  7.198, 0.3  , 230.54, 31.4, 23., 36., 17.),
       ('2007-04-05', '19:18:00',  6.588, 0.212, 235.2 , 28. ,  0., 37., 17.),
       ('2007-04-05', '20:55:00',  6.014, 0.218, 233.29, 25.8,  2., 36., 17.),
       ('2007-04-18', '21:22:00',  6.054, 0.52 , 234.3 , 25.8,  0.,  2.,  0.),
       ('2007-06-03', '21:56:00',  6.164, 0.206, 229.11, 26.8,  0., 69.,  0.),
       ('2007-06-03', '21:59:00',  6.17 , 0.192, 229.19, 26.8,  0., 70.,  0.),
       ('2007-06-03', '22:02:00',  6.366, 0.242, 228.79, 27.8,  0., 69.,  0.),
       ('2007-06-17', '18:10:00',  6.436, 0.496, 235.47, 27.4,  0., 35., 17.),
       ('2007-06-25', '21:25:00',  6.254, 0.108, 234.64, 26.6,  0., 72., 17.),
       ('2007-06-25', '21:28:00',  6.104, 0.074, 233.61, 26. ,  0., 72., 17.),
       ('2007-06-26', '22:26:00',  7.29 , 0.132, 233.21, 31.2, 36., 38., 17.),
       ('2007-06-28', '19:25:00',  6.2  , 0.498, 232.01, 27. ,  0., 59., 17.),
       ('2007-07-02', '20:35:00',  6.39 , 0.436, 235.11, 27.2,  0., 70.,  0.),
       ('2007-07-03', '22:17:00',  6.182, 0.198, 232.5 , 27. ,  0., 62., 17.),
       ('2007-07-06', '21:14:00',  6.422, 0.472, 236.96, 27. ,  1., 74., 17.),
       ('2007-07-06', '21:18:00',  7.24 , 0.448, 235.04, 31. ,  1., 68., 17.),
       ('2007-07-06', '21:32:00',  6.956, 0.182, 236.82, 29.4, 37., 51., 18.),
       ('2007-08-12', '23:32:00',  7.288, 0.23 , 226.82, 32.2, 28., 33., 16.),
       ('2007-08-24', '20:49:00',  8.366, 0.724, 232.79, 36. , 36., 38., 17.),
       ('2007-09-12', '22:02:00',  6.09 , 0.25 , 234.38, 26. ,  0., 68., 17.),
       ('2007-09-13', '21:40:00',  6.092, 0.068, 232.09, 26.2,  1., 31.,  0.),
       ('2007-09-26', '21:23:00',  7.03 , 0.332, 231.8 , 30.4,  0., 35., 16.),
       ('2007-09-26', '21:26:00',  6.014, 0.378, 233.55, 25.8,  0., 36., 16.),
       ('2007-10-13', '19:53:00',  6.148, 0.352, 230.53, 26.6,  0., 34., 16.),
       ('2007-10-13', '19:56:00',  6.226, 0.366, 231.94, 26.8,  0., 35., 16.),
       ('2007-10-13', '19:59:00',  6.402, 0.244, 231.54, 27.6,  0., 34., 17.),
       ('2007-10-13', '20:02:00',  7.78 , 0.256, 230.81, 34.2,  0., 34., 16.),
       ('2007-10-13', '20:05:00',  6.654, 0.246, 231.52, 29. ,  0., 35., 17.),
       ('2007-10-13', '20:10:00',  8.204, 0.13 , 230.41, 35.8,  0., 34., 16.),
       ('2007-10-13', '20:15:00',  6.212, 0.108, 232.83, 26.6,  0., 35., 17.),
       ('2007-10-13', '20:33:00',  6.158, 0.472, 233.06, 26.6,  0., 36., 16.),
       ('2007-11-12', '20:28:00',  6.166, 0.464, 233.69, 26.6,  0., 29., 17.),
       ('2007-11-12', '20:31:00',  8.026, 0.384, 231.96, 34.6,  0., 72., 17.),
       ('2007-11-12', '20:34:00',  7.726, 0.362, 231.68, 33.2,  0., 72., 16.),
       ('2007-11-12', '20:37:00',  7.716, 0.376, 232.26, 33.2,  0., 72., 17.),
       ('2007-11-12', '20:40:00',  6.914, 0.25 , 234.06, 29.8,  0., 62., 17.),
       ('2007-12-04', '21:20:00',  6.274, 0.308, 236.56, 26.6,  0., 36., 18.),
       ('2007-12-04', '21:26:00',  6.25 , 0.38 , 236.12, 26.6,  0., 35., 17.),
       ('2007-12-04', '21:46:00',  6.028, 0.   , 237.73, 25.4,  0., 36., 17.),
       ('2007-12-08', '20:00:00',  6.002, 0.286, 233.41, 25.6,  0., 35., 17.),
       ('2007-12-08', '20:26:00',  6.056, 0.286, 233.21, 26. ,  0., 35., 17.),
       ('2007-12-08', '20:33:00',  6.192, 0.478, 233.27, 26.6,  0., 36., 17.),
       ('2007-12-08', '20:40:00',  6.222, 0.324, 233.62, 26.6,  0., 36., 17.),
       ('2007-12-09', '19:06:00',  6.232, 0.176, 230.79, 27. ,  0., 34., 17.),
       ('2007-12-09', '19:09:00',  6.182, 0.192, 230.28, 26.8,  0., 34., 16.),
       ('2007-12-09', '19:12:00',  6.166, 0.172, 229.85, 26.8,  0., 34., 17.),
       ('2007-12-09', '19:15:00',  6.284, 0.31 , 230.04, 27.2,  0., 34., 16.),
       ('2007-12-09', '19:18:00',  6.282, 0.292, 230.2 , 27.2,  0., 34., 16.),
       ('2007-12-09', '19:21:00',  6.25 , 0.304, 229.29, 27.2,  0., 34., 16.),
       ('2007-12-09', '19:26:00',  6.17 , 0.286, 230.36, 26.8,  0., 34., 16.),
       ('2007-12-22', '20:45:00',  6.508, 0.214, 234.31, 28.4, 30., 35.,  0.),
       ('2007-12-22', '20:52:00',  7.056, 0.434, 233.27, 30.6,  9., 35.,  0.),
       ('2007-12-22', '20:56:00',  6.444, 0.472, 235.37, 27.4,  0., 35.,  0.),
       ('2007-12-22', '21:03:00',  7.486, 0.386, 234.43, 32. ,  1., 37., 17.),
       ('2007-12-22', '21:06:00',  7.306, 0.412, 235.42, 31.2,  0., 37., 17.),
       ('2007-12-23', '19:07:00',  6.952, 0.262, 231.01, 30. ,  0., 70.,  0.),
       ('2007-12-23', '19:10:00',  6.764, 0.244, 231.21, 29.2,  0., 70.,  0.),
       ('2007-12-23', '19:21:00',  7.378, 0.528, 231.96, 32.2, 22., 36., 16.),
       ('2007-12-23', '19:36:00',  6.094, 0.64 , 233.53, 26.2,  1., 37., 16.),
       ('2007-12-23', '19:41:00',  6.312, 0.442, 235.12, 27.2, 16., 39., 17.),
       ('2007-12-23', '19:47:00',  6.188, 0.482, 234.63, 26.4,  1., 38., 17.),
       ('2007-12-23', '19:56:00',  6.124, 0.382, 234.27, 26.2,  0., 38., 17.),
       ('2007-12-28', '18:01:00',  7.228, 0.284, 235.22, 30.6,  0., 73., 17.),
       ('2007-12-28', '18:04:00',  7.06 , 0.214, 235.42, 30. ,  0., 73., 17.),
       ('2007-12-28', '18:07:00',  6.076, 0.336, 236.5 , 25.8,  0., 58., 18.),
       ('2007-12-28', '18:11:00',  6.758, 0.328, 236.9 , 28.6,  0., 69., 17.),
       ('2007-12-28', '18:16:00',  6.914, 0.21 , 237.39, 29. ,  0., 73., 17.),
       ('2008-02-02', '19:29:00',  6.22 , 0.568, 232.31, 26.8,  1., 36., 16.),
       ('2008-02-02', '19:37:00',  6.162, 0.608, 232.39, 26.6,  1., 36., 17.),
       ('2008-02-02', '19:42:00',  7.076, 0.546, 228.62, 31.2, 21., 35., 17.),
       ('2008-02-02', '19:45:00',  7.22 , 0.564, 229.54, 31.8, 19., 35., 16.),
       ('2008-02-02', '19:50:00',  6.522, 0.48 , 232.6 , 28. ,  1., 36., 17.),
       ('2008-02-20', '19:58:00',  6.218, 0.264, 237.28, 27. , 16., 36.,  0.),
       ('2008-02-20', '20:11:00',  6.53 , 0.232, 235.  , 28.4, 27., 36.,  0.),
       ('2008-03-05', '18:32:00',  6.424, 0.168, 234.17, 27.4,  0., 72.,  0.),
       ('2008-03-05', '18:35:00',  6.512, 0.272, 233.92, 27.8,  0., 72.,  0.),
       ('2008-03-05', '21:33:00',  6.468, 0.   , 233.87, 27.6,  2., 35., 16.),
       ('2008-03-05', '21:36:00',  6.09 , 0.092, 234.53, 26.2,  1., 27., 17.),
       ('2008-03-05', '21:39:00',  7.302, 0.062, 233.13, 31.6, 21., 35., 16.),
       ('2008-03-05', '22:13:00',  6.204, 0.232, 234.29, 26.4,  1., 37., 17.),
       ('2008-03-14', '18:10:00',  6.096, 0.114, 234.56, 26. ,  0., 33., 17.),
       ('2008-03-23', '20:24:00',  6.124, 0.19 , 233.99, 26.4,  0., 55., 17.),
       ('2008-03-23', '20:27:00',  7.222, 0.208, 233.36, 30.8,  0., 73., 16.),
       ('2008-03-23', '20:30:00',  6.952, 0.178, 234.24, 29.6,  0., 72., 17.),
       ('2008-03-23', '20:33:00',  6.49 , 0.196, 234.04, 27.6,  0., 72., 17.),
       ('2008-03-23', '20:36:00',  6.708, 0.18 , 234.1 , 28.6,  0., 73., 16.),
       ('2008-04-20', '21:00:00',  8.268, 0.312, 232.3 , 35.6,  1., 72., 17.),
       ('2008-04-20', '21:03:00',  7.798, 0.328, 231.76, 33.6,  1., 71., 17.),
       ('2008-04-20', '21:04:00',  7.756, 0.348, 232.11, 33.4,  1., 72., 17.),
       ('2008-04-20', '21:08:00',  6.366, 0.368, 232.97, 27.4,  2., 37., 18.),
       ('2008-04-20', '21:12:00',  6.378, 0.3  , 232.96, 27.4,  1., 36., 17.),
       ('2008-04-20', '21:29:00',  7.486, 0.288, 232.  , 32.2, 34., 37., 17.),
       ('2008-05-18', '20:31:00',  7.782, 0.28 , 234.42, 33.4,  1., 72., 27.),
       ('2008-05-18', '20:36:00',  7.032, 0.   , 233.97, 30. , 34., 36., 17.),
       ('2008-05-25', '19:43:00',  6.152, 0.384, 232.91, 26.4, 36., 37.,  1.),
       ('2008-06-08', '21:43:00',  7.028, 0.16 , 234.83, 29.8,  0., 73., 18.),
       ('2008-06-08', '21:47:00',  6.956, 0.15 , 235.32, 29.4,  0., 73., 17.),
       ('2008-06-27', '18:32:00',  6.314, 0.228, 233.51, 27. , 36., 37., 17.),
       ('2008-07-03', '21:39:00',  6.16 , 0.   , 234.34, 26.2,  1., 72., 17.),
       ('2008-07-03', '21:44:00',  7.066, 0.   , 234.33, 30.4, 36., 52., 18.),
       ('2008-07-16', '21:02:00',  6.324, 0.328, 235.59, 26.8,  0., 73., 18.),
       ('2008-07-16', '21:06:00',  6.98 , 0.328, 235.16, 29.8,  0., 73., 18.),
       ('2008-09-22', '20:17:00',  6.612, 0.196, 231.05, 28.6,  1., 69., 17.),
       ('2008-09-22', '20:21:00',  6.706, 0.108, 233.99, 28.6,  1., 70., 17.),
       ('2008-10-12', '18:37:00',  6.358, 0.24 , 229.93, 27.6, 35., 36., 10.),
       ('2008-10-12', '19:32:00',  6.394, 0.486, 233.29, 27.6,  0., 36., 17.),
       ('2008-10-12', '19:36:00',  6.974, 0.344, 232.83, 30. ,  1., 72., 17.),
       ('2008-10-12', '19:41:00',  6.004, 0.364, 232.97, 25.8,  0., 72.,  1.),
       ('2008-10-12', '20:18:00',  7.342, 0.176, 228.61, 32. ,  0., 68., 16.),
       ('2008-10-12', '20:22:00',  7.852, 0.   , 231.35, 34. ,  0., 70., 17.),
       ('2008-10-17', '20:02:00',  6.11 , 0.49 , 234.89, 26.2,  0., 37., 17.),
       ('2008-11-04', '18:55:00',  7.002, 0.184, 227.83, 30.6,  0., 69.,  0.),
       ('2008-11-04', '18:59:00',  6.876, 0.18 , 228.75, 30. ,  0., 70.,  0.),
       ('2008-11-04', '20:43:00',  7.602, 0.368, 231.11, 32.8,  0., 71., 16.),
       ('2008-11-04', '20:47:00',  7.482, 0.408, 233.3 , 32. ,  0., 73., 16.),
       ('2008-11-04', '20:51:00',  7.148, 0.234, 232.39, 30.6,  0., 72., 16.),
       ('2008-11-04', '21:33:00',  6.88 , 0.242, 235.34, 29.2,  0., 72., 17.),
       ('2008-11-04', '21:37:00',  6.882, 0.24 , 235.78, 29.2,  0., 72., 17.),
       ('2008-11-04', '21:41:00',  6.316, 0.194, 236.09, 26.6,  0., 72., 17.),
       ('2008-11-22', '21:49:00',  7.266, 0.058, 229.68, 31.6, 35., 36., 16.),
       ('2008-11-23', '18:04:00',  7.464, 0.342, 228.32, 32.6,  0., 33., 16.),
       ('2008-11-23', '18:08:00',  7.552, 0.35 , 230.19, 32.8,  0., 34., 17.),
       ('2008-11-23', '18:12:00',  7.724, 0.47 , 230.54, 33.4,  0., 35., 16.),
       ('2008-11-23', '18:16:00',  7.632, 0.454, 230.22, 33.2,  0., 35., 16.),
       ('2008-11-23', '18:21:00',  6.432, 0.168, 231.56, 27.8,  0., 33., 16.),
       ('2008-11-23', '18:27:00',  6.436, 0.156, 230.93, 27.8,  0., 33., 16.),
       ('2008-11-23', '18:34:00',  6.168, 0.308, 231.57, 26.6,  0., 22., 17.),
       ('2008-11-23', '18:38:00',  6.428, 0.336, 232.45, 27.8,  0., 21., 17.),
       ('2008-11-23', '18:42:00',  6.486, 0.268, 233.85, 27.8,  0., 20., 17.),
       ('2008-11-23', '18:51:00',  6.966, 0.422, 231.47, 30. ,  0., 40., 16.),
       ('2008-11-23', '18:55:00',  6.57 , 0.382, 232.17, 28.2,  0., 40., 17.),
       ('2008-11-23', '20:20:00',  6.87 , 0.356, 232.34, 29.6,  1., 34., 16.),
       ('2008-11-23', '20:24:00',  7.   , 0.184, 232.69, 30.2,  1., 30., 17.),
       ('2008-11-23', '20:28:00',  7.168, 0.184, 232.2 , 30.8,  2., 36., 16.),
       ('2008-11-23', '20:32:00',  7.128, 0.172, 231.42, 30.8,  1., 36., 17.),
       ('2008-11-23', '20:36:00',  6.528, 0.152, 234.35, 27.8,  0., 36., 16.),
       ('2008-11-23', '20:52:00',  6.13 , 0.402, 235.94, 26. ,  1., 34., 17.),
       ('2008-11-23', '21:02:00',  6.278, 0.248, 235.08, 26.8,  1., 22., 17.),
       ('2008-11-30', '20:13:00',  8.058, 0.082, 233.14, 34.4,  1., 72., 17.),
       ('2008-11-30', '20:17:00', 10.074, 0.06 , 231.41, 43.4, 36., 70., 16.),
       ('2008-11-30', '20:26:00',  7.746, 0.192, 234.16, 33. , 36., 37., 17.),
       ('2008-12-09', '19:50:00',  6.116, 0.308, 235.43, 26. , 34., 36.,  0.),
       ('2009-01-01', '20:48:00',  6.122, 0.162, 238.41, 25.6,  0., 74.,  0.),
       ('2009-01-02', '18:35:00',  7.186, 0.11 , 234.72, 30.8, 29., 36., 17.),
       ('2009-01-10', '19:52:00',  6.794, 0.2  , 234.2 , 29. ,  2., 72., 16.),
       ('2009-01-10', '19:56:00',  8.716, 0.06 , 231.62, 37.6, 36., 71., 16.),
       ('2009-01-10', '20:00:00',  8.758, 0.062, 232.2 , 37.6, 36., 71., 16.),
       ('2009-01-10', '20:04:00',  7.982, 0.   , 233.34, 34.2, 36., 73., 17.),
       ('2009-01-16', '20:03:00',  6.708, 0.358, 236.04, 28.8, 16., 36., 17.),
       ('2009-01-16', '20:30:00',  7.1  , 0.51 , 235.31, 30.8, 27., 28., 17.),
       ('2009-01-18', '20:00:00',  6.23 , 0.232, 232.37, 26.8,  0., 37., 17.),
       ('2009-02-11', '20:49:00',  6.52 , 0.232, 234.45, 28. ,  0., 24.,  0.),
       ('2009-02-22', '20:07:00',  6.916, 0.098, 236.78, 29.2,  0., 73., 17.),
       ('2009-02-22', '20:11:00',  6.694, 0.078, 237.79, 28. ,  0., 73., 18.),
       ('2009-02-22', '20:15:00',  6.738, 0.29 , 237.59, 28.4,  0., 75., 17.),
       ('2009-02-22', '21:02:00',  6.698, 0.406, 236.93, 28.2,  1., 73.,  0.),
       ('2009-02-22', '21:06:00',  6.914, 0.528, 239.2 , 29. ,  1., 74.,  0.),
       ('2009-02-22', '21:11:00',  6.12 , 0.314, 235.58, 26. ,  1., 66.,  0.),
       ('2009-02-22', '21:16:00',  7.306, 0.294, 233.69, 31.4, 37., 49.,  0.),
       ('2009-02-23', '22:05:00',  7.006, 0.266, 232.89, 30. ,  1., 70., 16.),
       ('2009-02-23', '22:10:00',  7.178, 0.218, 235.12, 30.4,  1., 71., 17.),
       ('2009-02-28', '18:43:00',  6.788, 0.392, 228.63, 29.6,  0., 68., 16.),
       ('2009-03-17', '20:24:00',  7.864, 0.   , 237.03, 33.2,  0., 72., 17.),
       ('2009-03-17', '20:28:00',  6.734, 0.086, 237.95, 28.4,  0., 66., 17.),

Pandas: 14.111024379730225
Nampy: 0.22500038146972656